@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.alert {
  position: absolute;
  width: 100%
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity .6s ease-in-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.form {
  margin: 4rem auto;

  &-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-input {
      width: 90%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 65%;
    }

    select {
      width: 10%;
    }
  }
}

.list-group {
  max-width: 900px;
  margin: 0 auto;

  &-buttons {
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: .5rem 0;

    strong {
      display: block;
      font-size: 1.1rem;
    }

    small {
      margin-left: 0.5rem;
      display: block;
      font-size: .8rem;
    }
  }
}

.spinner-grow {
  display: block;
  margin: 0 auto;
}

.list-content {
  display: flex;
  align-items: baseline;
  position: relative;
  overflow: hidden;

  &.crossOut::after {
    position: absolute;
    display: block;
    top: 55%;
    left: 0;
    transform: translate(-50%, -50%);
    content: '';
    height: 1px;
    background: #000;
    animation: crossOut .5s forwards ease-out;
  }
}

.note-enter {
  animation: note .5s forwards ease-in-out;
}

.note-exit {
  animation: note .5s reverse ease-in-out;
}

@keyframes note {
  0% {
    transform: translateX(-200px);
  }
  30% {
    transform: translateX(40px);
  }
}

@keyframes crossOut {
  0% { width: 0; }

  100% { width: 200%; }
}

.weather {
  width: 100%;
  height: 100vh;
  background-color: #ECEF4E;
  opacity: .66;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3rem;


  &-item {
    border-radius: 5px;
  }

  &-content {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    &-search {
      width: 30%;
    }

    &-data {
      position: relative;
      width: 30%;
      padding: 1rem 3rem;
      background-color: #0013ff;
      border-radius: 5%;

      h2 {
        text-align: right;
      }

      .icon-svg {
        position: absolute;
        right: -60%;
        top: -35%;

        span {
          position: absolute;
          right: 5%;
          top: 15%;
          font-weight: 700;
          width: 65%;
          text-align: center;
        }
      }
    }
  }
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .2s linear;

  &:hover {
    background-color: #0013ff;
    color: #fff;
  }
}

.history-title {
  color: #000;
  text-align: center;
}